/* .app-cntnr{
margin-left: 0px;
padding: 0;
box-sizing: border-box;
}  */

* {
  font-family: "Fira Sans", sans-serif;
}

.header-cntnr {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.logo {
  width: 100px;
  padding-left: 30px;
}

.nav-items {
  padding: 0 30px;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  font-size: 16px;
}

.nav-items ul li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.restaurant-cntnr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  padding: 40px 0px 40px 50px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 30px;
}

.search-box {
  margin: 20px;
}

.input {
  width: 20rem;
  height: auto;
  margin-right: 10px;
}

.filter {
  padding: 10px;
  margin-left: 10px;
}

button {
  margin-right: 10px;
  cursor: pointer;
}

.card-cntnr {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.card-cntnr:hover {
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 2px 2px 4px 4px rgb(116, 116, 116);
}

.res-logo {
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.footer-cntnr {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 5rem;
  background-color: rgba(23, 20, 20, 0.835);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.footer-cntnr span {
  padding-bottom: 10px;
  font-size: 16px;
}

.shimmer-cntnr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  padding: 40px 0px 40px 50px;
}

.shimmer-card {
  width: 250px;
  height: 350px;
  margin: 20px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 4px 4px rgb(115, 115, 115);
}

.button {
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
  color: white;
}

.about-cntnr{
  background-color: #f0f0f0;
  box-shadow: 2px 2px 4px 4px rgb(115, 115, 115);
  border-radius: 10px;
  margin: 30px;
}

.user-card{
  padding: 20px;
  text-align: center;
}

.profile-img{
  width: 250px;
  border-radius: 50%;
}

.user-card-text{
  color: rgb(0, 0, 29);
  font-size: 16px;
  font-weight: 500;
}